{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <h1 class="text-center">Modification d'un employé</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
<div class="d-flex justify-content-between mt-3">

    {{ include('user/_delete_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Retour à la liste</a>
</div>

{% endblock %}
