{% extends 'base.html.twig' %}

{% block title %}Création{% endblock %}

{% block body %}
    <h1 class="text-center">Création d'un nouvel employé</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Retour à la liste</a>
{% endblock %}
